<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Post and Comment Application</h1>

    <h2>Recent Posts:</h2>
    <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <p>By: {{ post.user.username }}</p>
            </li>
        {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('create_post') }}">Create a new post</a></p>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
    <p><a href="{{ url_for('login') }}">Login</a></p>
        <p><a href="{{ url_for('register') }}">Register</a></p>
    {% endif %}
</body>
</html>
